{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h1>Voici toutes les catégories </h1>
    <div class="container">
        <div class="card-deck mb-5">
            {% for category in categories %}
                <div class="col-6"> 
                    <a href="{{ path("category_show", { categoryName: category.name }) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{category.id}}.{{category.name}}</a>
                </div>
            {% else %}
                Aucune category trouvé trouvée.
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}