@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(24, 16, 59);
    margin: 0;
}

// customize some Bootstrap variables
$light: darken(#eed816, 0%);
$primary: darken(#020111, 0%);

$info: darken(#d5e040, 0%);
$dark: darken(#170b4d, 0%);



