<nav class="navbar navbar-expand-sm navbar-info bg-dark">
  <div class="navClass container-fluid text-info">
    <a class="navbar-brand text-warning" href="app_index">LeStreamCLaVie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active text-info h5" aria-current="page" href="/programs/">Nouveautés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info h5" href="/programs/">Populaire</a>
        </li>
        <li class="nav-item dropdown">
          <a class="h5 nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Comedies</a></li>
            <li><a class="dropdown-item" href="#">Aventure</a></li>
            <li><a class="dropdown-item" href="/categories/Horreur">Horreur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="h5 nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('category_new') }}">ajout d'un genre</a></li>
            <li><a class="dropdown-item" href="{{ path('program_new') }}">Ajout d'une série</a></li>
            <li><a class="dropdown-item" href="{{ path('season_new') }}">ajout d'un saison</a></li>
            <li><a class="dropdown-item" href="{{ path('episode_new') }}">Ajout d'un épisode</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info"  type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>